$plain-gray-bg: #E3E3E3;
$dark-bg: #000000;
$color-white: #fff;
$alt-color: #D7345A;
$gray-color: #808080;


$btn--primary: #3676CD;
$btn--pink: #D7345A;
$btn--contact: transparent;

$screen-xs-min: 320px;
$screen-xs-max: 767px;
$screen-sm: $screen-xs-max + 1px;
$screen-sm-max: 991px;
$screen-md: $screen-sm-max + 1px;
$screen-md-max: 1199px;
$screen-lg: $screen-md-max + 1px;
$screen-lg-max: 1440px;
