.order-1 {
  order: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@media only screen and (min-width: $screen-md) {
  .display-flex {
    &--fullWidthmdUp {
      flex: 0 0 100%;
    }
  }
}

.display-flex--40 {
  flex: 0 0 100%;
}


.display-flex--60 {
  flex: 0 0 100%;
}

@media only screen and (min-width: $screen-md) {
  .display-flex {
    &--40 {
      flex: 0 0 40%;
    }
    &--60 {
      flex: 0 0 60%;
    }
  }
}
