.ma-0-5 {
  margin: 0.5em;
}

.ma-1 {
  margin: 1em;
}

.ma-b-0-25 {
  margin-bottom: 0.25em;
}

.ma-b-1 {
  margin-bottom: 1em;
}

 .ma-tb-0-5 {
   margin: 0.5em 0;
 }

.ma-tb-1 {
  margin: 1em 0;
}
