.pa-0 {
  padding: 0;
}

.pa-1 {
  padding: 1em;
}

.ptb-1 {
  padding: 1em 0;
}

.ptb-1-5 {
  padding: 1.5em 0;
}

.ptb-0-5-plr-1 {
  padding: 0.5em 1em;
}

.ptb-0-5-plr-0-8 {
  padding: 0.5em 0.8em;
}

.ptb-0-5-plr-3 {
  padding: 0.5em 3em;
}

.ptb-3 {
  padding: 3em 0;
}

.ptb-5 {
  padding: 5em 0;
}
