.logo {
  width: 3em;
  height: 2.2em;
  @extend .flex-shrink-0;
  &--color {
    fill: $alt-color;
  }
}

.line {
  border-bottom: 1px solid #ccc;
}

.user-avatar {
  @extend .flex-shrink-0;
  width: 4em;
  @extend .height-5 ;
}
